body{           /*manages the whole page*/
background: #ECECEC;
font-family: 'Rozha One', serif;

}
#container{      /*Manages the container div attributes*/

    text-align:center;

}
#head{      /*Manages the head div attributes*/
    font-size: 20px;
    color:grey;
}

table{      /*manages the table attributes*/
    width: 100%;
    text-align:left;
    color: #245580;
    font-size: 18px;
}

h2{
    text-align: center;
    padding-bottom: 50px;
}

p{

    font-size: 18px;
}

